.SocialLink {
  margin: 10px;
  background-color: #4263eb;
  padding: 1rem 1.5rem;
  max-width: 250px;
  min-width: 20%;
  border-width: .25rem;
  border-radius: .5rem;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: solid;
  border-right-style: solid;
}

.SocialLink:hover,
.SocialLink:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-left-style: solid;
}

.SocialLinkIcon {
  color: white;
  font-size: 3em;
}